@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "colors.css";

* {
  font-family: 'JetBrainsMonoNL Nerd Font';
	font-size: 15px;
	color: @main-fg;
}

window#waybar {
transition: opacity 1.1s ease-in-out;
}

window#waybar.hidden {
opacity: 0;
}

/* main outline */

window#waybar {
    background-color: #1C2128;
    border: 1px solid @date;
    border-radius: 4px;
    opacity: 0.86;
}

/* main background */

window#waybar > box {
	margin: 4px;
	background-color: @background;
}

/* hoverables */

#custom-theme_switcher:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover {
	color: @hover-fg;
}

/* states */

.warning { color: @warning; }
.critical { color: @critical; }
.charging { color: @charging; }
.muted { color: @hover-fg; }

/* dividers */

#custom-tempdiv label,
#custom-memdiv label,
#custom-cpudiv label,
#custom-leftdistrodiv label,
#custom-rightdistrodiv label,
#custom-timediv label,
#custom-datediv label,
#custom-diskdiv label {
	font-size: 23.1px;
}

#custom-leftinvdiv label,
#custom-rightinvdiv label {
  font-size: 23.2px;
}


/* buttons */

button {
	border-radius: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

/* tooltips */

tooltip {
	border: 2px solid @accent;
	border-radius: 10px;
	background-color: @background;
}
tooltip label {
	margin: 2px 4px;
	font-weight: normal;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}

@import "styles/waybar.css";
