@import "../colors.css";

/* temperature */

#custom-tempdiv label {
	color: @temperature;
}
#custom-temperature {
	background-color: @temperature;
}

/* memory */

#custom-memdiv label {
	background-color: @temperature;
	color: @memory;
}
#custom-memory {
	background-color: @memory;
}

/* cpu */

#custom-cpudiv label {
	background-color: @memory;
	color: @cpu;
}
#custom-cpu {
	background-color: @memory;
}
#custom-leftinvdiv label {
	color: @cpu;
}

/* distro icon */

#custom-leftdistrodiv label,
#custom-rightdistrodiv label {
	color: @accent;
}
#custom-distro label {
	padding: 0 10px 0 5px;
	font-size: 23px;
	background-color: @accent;
	color: @main-bg;
}

/* idle inhibitor & time */

#custom-rightinvdiv label {
	color: @time;
}
#idle_inhibitor {
	background-color: @time;
}
#custom-clock.time {
	background-color: @time;
}
#custom-timediv label {
	background-color: @date;
	color: @time;
}

/* date */

#clock.date {
	padding-left: 6px;
	background-color: @time;
}
#custom-datediv label {
	background-color: @tray;
	color: @date;
}

/* disk */

#custom-diskdiv label {
	color: @tray;
}
#custom-disk {
	background-color: @temperature;
}
